*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color:white
}
html,body{
  height: 100%;
  width: 100%;

}
body{
  background-color: black;
 
}
.box{
  height: 200px;
  width:200px;
  background-color: lightblue;
  border:2px solid white;
}